<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tars - OpenAI</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icon.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="#", method="POST">
        <h1>Configurer <img class="openai-logo" alt="Logo d'OpenAI" src="{{ url_for('static', filename='assets/openai/logo.svg') }}"> pour Tars</h1>
        <div>
            <p>Votre clé API :</p>
            <input type="text" name="api-key" class="input-text" placeholder="ex: sk-a1B2c34e5f6...">
            {% if error_key %}
                <p class="error-message">{{ error_key }}</p>
            {% endif %}
        </div>
        <a href="/comment_créer_une_clé_api_openai">Comment l'obtenir ?</a>
        <input type="submit" class="btn" value="Valider">
    </form>
</body>
</html>

<!-- <script src="{{ url_for('static', filename='openai.js') }}"></script> -->